node_modules
__pycache__
.venv
.env
instances
credentials
maps
logs
temp
data/staticData.sqlite-shm
data/staticData.sqlite-wal
data/runtimeData.sqlite
data/runtimeData.sqlite-shm
data/runtimeData.sqlite-wal
database
license-api-data
services/license-api/*.sqlite
services/license-api/*.sqlite-shm
services/license-api/*.sqlite-wal

