node_modules
.env
instances
credentials
maps
logs
licenses
temp
data/staticData.sqlite-shm
data/staticData.sqlite-wal
data/runtimeData.sqlite
data/runtimeData.sqlite-shm
data/runtimeData.sqlite-wal
database
services/license-api/*.sqlite
services/license-api/*.sqlite-*
services/license-api/data

*.pyc
/services/license-api/rustassist_license_api.egg-info
/services/license-api/.venv
